.c7ncd-filterTextField {
  .c7n-pro-input-prefix {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    span {
      white-space: nowrap;
      margin-right: 5px;
    }
  }
  position: relative;
  input {
    padding-left: 0 !important;
  }
  &-popContent {
    height: auto;
    position: absolute;
    box-shadow: 0 2px 8px 0 rgba(15, 19, 88, 0.12);
    border-radius: 2px;
    z-index: 1;
    background: #fff;
    width: 100%;
    left: 32px;
    &__options {
      border: 1px solid #d9e6f2;
      position: absolute;
      top: 20px;
      text-align: left;
      left: 30px;
      background: white;
      p {
        white-space: nowrap;
        padding: 12px 10px 6px 10px;
        margin: 0;
        cursor: pointer;
      }
      p:hover {
        background: rgba(104, 135, 232, 0.08);
      }
    }
    &-item {
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--text-color);
      padding: 12px 0 6px 10px;
      cursor: pointer;
    }
    &-item:hover {
      background: rgba(104, 135, 232, 0.08);
    }
  }
}
