.c7n-org-overview {
  background-color: rgba(245, 246, 250, 1);
  .c7n-org-overview-content {
    padding: 0 0 60px !important;
    display: flex;
    justify-content: space-between;
    background: unset !important;
  }
}
